<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.epOnlineMapper">
	<sql id="search"><!-- 검색조건 -->
		<if test="field!=null and field!=''">
			and ${field} like '%'||#{keyword}||'%'
		</if>
	</sql>
	<!-- admin글갯수 -->
	<select id="count" parameterType="hashmap" resultType="int">
		select ifnull(count(*),0) from qna
		where  `div`=#{div}
		<include refid="search"></include>
	</select>
	<!-- admin/Q&A 사용자 -->
	<select id="userInfo" resultType="adminInfo" parameterType="hashmap">
		select q.bnum,q.title,q.content,q.div,q.ref,q.level,q.step,q.del_yn,q.regdate from qna q left join member mem on mem.menum=q.menum
		where q.`div`=1 
		<include refid="search"></include> 
		order by regdate desc 
		limit #{startRow}, #{RowsinPage}
	</select>
	<!-- admin/Q&A 호스트 -->
	<select id="hostInfo" resultType="adminInfo" parameterType="hashmap">
		select q.bnum,q.title,q.content,q.div,q.ref,q.level,q.step,q.del_yn,q.regdate from qna q left join member mem on mem.menum=q.menum
		where q.`div`=2 
		<include refid="search"></include> 
		order by regdate desc
		limit #{startRow}, #{RowsinPage}
	</select>
	
	
	<!-- 6시간이내(만들어진것) -->
	<select id="within6" resultType="slinfo">
		<![CDATA[select regdate from experience_info
		where TIMESTAMPDIFF(minute, regdate, current_date())<=-180;]]>
	</select>
	<!-- 서울인기체험 -->
	<select id="inSeoul" resultType="slinfo">
		select loc from experience_info where loc like '||'%'||서울||'%'||';
	</select>
	<!-- 저렴한 가격 -->
	<select id="cheap" resultType="slinfo">
		select * from experience_info order by price asc;
	</select>
	<!-- 베스트체험(별 높은 순 ) -->
	<select id="beststar" resultType="slinfo">
		select ei.*,re.score from experience_info as ei join review as re on re.hinum=ei.hinum;
	</select>
	<!-- 전체 -->
	<select id="outslider" resultType="slinfo" parameterType="int">
		select ee.* , m.profile_img , m.id from (
select e.memnum,e.hinum , e.div_type , e.loc , e.intr , e.program , e.title , e.price , e.times , e.mater, e.people , s.subname from experience_info e inner join subDetail s on e.sunum=s.sunum) ee inner join member m on ee.memnum=m.menum where ee.hinum=#{hinum};
	</select>
	<!-- 디테일 -->
	<select id="inslider" resultType="slinfo" parameterType="int"><!-- 상세화면 -->
		Select ei.einum,ei.hinum,ei.memnum,hi.img,ei.title,ei.loc,ei.times,ei.price,re.score,me.id,me.addr,me.email,me.phone,me.profile_img,me.nickname,ei.program,ei.intr,ei.mater,ei.people From experience_info ei
		left JOIN house_img hi
		ON ei.hinum = hi.hinum
		left JOIN review re
		ON ei.hinum = re.hinum 
        left join member me
        on ei.memnum=me.menum
		where  ei.hinum=#{hinum} and ei.div_type=3;
	</select>
	<select id="findRoom" parameterType="hashmap" resultType="int">
		select chat_no from chat_select where menum=#{memnum} and younum=#{id};
	</select>
	<select id="chatLog" resultType="chatLog" parameterType="int">
		select * from chatting where chat_no=#{number}
	</select>
	<insert id="addChat" parameterType="hashmap">
		insert into chat_select values(0,#{memnum},#{id},0)
	</insert>
	<insert id="addcontent" parameterType="hashmap">
		insert into chatting values(#{chat_no},#{content},#{mnum},1,0)
	</insert>
	
	
	<select id="randInfo" resultType="slinfo"> <!-- 랜덤 list -->
		select ee.*, h.img from (
select  e.hinum , e.div_type , e.title,e.program , e.price , e.times , s.subname from experience_info  e inner join  subDetail s on  e.sunum=s.sunum where div_type=3 or div_type=4) ee inner join house_img h on ee.hinum=h.hinum where h.ordernum=1 order by rand() limit 5
	</select>
	<select id="ReviewSelect" parameterType="int" resultType="com.jhta.airqnq.vo.ReviewVo">
		select r.* , m.profile_img , m.id  ,(select sum(score)/count(*) from review where hinum=#{hinum}) totalscore from review r inner join member m on r.menum=m.menum where r.hinum=#{hinum} order by renum desc
	</select>
</mapper>
