<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.experienceMapper">	
	<!-- 영노 -->
	<select id="ep_subject"
		resultType="com.jhta.airqnq.vo.ExperienceVo">
		select * from subject where expernum!=1
	</select>
	<select id="ep_detailsub" parameterType="int"
		resultType="com.jhta.airqnq.vo.ExperienceVo">
		select sunum expernum, subname from subDetail where
		expernum=#{num}
	</select>
	<select id="ep_loginnum" parameterType="string" resultType="int">
		select menum from member where id=#{id}
	</select>
	
	<insert id="ep_temporary" parameterType="int">
		insert into house_info(hinum,menum,`div`,del_yn,manager_check) values(0,#{loginum},3,'n',1)
	</insert>
	<select id="ep_hinum" resultType="int">
		SELECT hinum FROM house_info order by hinum desc LIMIT 1
	</select>

	
	<update id="ep_type" parameterType="hashmap">
		update experience_info set div_type=#{div} where hinum=#{hinum}
	</update>
	<update id="ep_loc" parameterType="hashmap">
		update experience_info set loc=#{loc} where hinum=#{hinum}
	</update>
	<update id="ep_sub" parameterType="hashmap">
		update experience_info set sunum=#{sunum} where hinum=#{hinum}
	</update>
	<update id="ep_intr" parameterType="hashmap">
		update experience_info set intr=#{intr} where hinum=#{hinum}
	</update>
	<update id="ep_program" parameterType="hashmap">
		update experience_info set program=#{program} where hinum=#{hinum}
	</update>
	<update id="ep_title" parameterType="hashmap">
		update experience_info set title=#{title} where hinum=#{hinum}
	</update>
	<update id="ep_pricetimes" parameterType="hashmap">
		update experience_info set price=#{price} ,times=#{times} where hinum=#{hinum}
	</update>
	<update id="ep_mater" parameterType="hashmap">
		update experience_info set mater=#{mater} where hinum=#{hinum}
	</update>
	<delete id="ep_deleteexper" parameterType="int">
		delete from experience_info where hinum=#{hinum}
	</delete>
	<delete id="ep_deletehous" parameterType="int">
		delete from house_info where hinum=#{hinum}
	</delete>
	<delete id="ep_deletehousimh" parameterType="int">
		delete from house_img where hinum=#{hinum}
	</delete>
	<update id="ep_updatediv" parameterType="hashmap">
		update experience_info set div_type=#{divtype} , sessionnum=24 where hinum=#{hinum}
	</update>
	<update id="ep_sessnum" parameterType="hashmap">
		update experience_info set sessionnum=#{sessnum} where hinum=#{hinum}
	</update>
	<insert id="ep_imgfile" parameterType="hashmap">
		insert into house_img values(0,#{hinum},#{file},'n',#{ordernum});
	</insert>
	<update id="epImgFileUpdate" parameterType="hashmap">
		update house_img set img=#{file} where hinum=#{hinum} and ordernum=#{ordernum}
	</update>
	
	
	<insert id="experienceInsert" parameterType="com.jhta.airqnq.vo.ExperienceVo">
		insert into experience_info(einum,hinum,sunum,memnum,people,del_yn,div_type,loc,intr,program,title,price,times,sessionnum,mater) 
		values(0,#{hinum},#{sunum},#{memnum},0,'n',#{div_type},#{loc} ,#{intr},#{program},#{title},#{price},#{times},#{sessionnum},#{mater})
	</insert>
	<insert id="experienceUpdate" parameterType="com.jhta.airqnq.vo.ExperienceVo">
		update experience_info set div_type=#{div_type},sunum=#{sunum},loc=#{loc},intr=#{intr},program=#{program},title=#{title},mater=#{mater},
		price=#{price},times=#{times},sessionnum=#{sessionnum} where hinum=#{hinum}
	</insert>
</mapper>