<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.airqnq.mapper.HostInfoMapper">	
	<insert id="hostInsert" parameterType="house_info">
		insert into house_info values(0, #{menum}, #{title},
		 #{content}, #{addr}, #{addr_detail}, #{price}, #{max_n}, #{bedroom}, #{checkin_time}, #{div}, #{lat}, #{lnt}, #{startdate}, #{enddate}, "n", 0)
	</insert>
	
	<insert id="hostImgInsert" parameterType="house_img">
		insert into house_img  values(0, #{hinum}, #{img}, #{del_yn}, #{ordernum})
	</insert>
	
	<select id="hostselect" resultType="house_info">
		select * from house_info
	</select>
	
	<select id="hostNumSelect" parameterType="int" resultType="int">
		SELECT hinum FROM house_info where menum=#{menum} order by hinum desc LIMIT 1
	</select>
	
	<!-- 승진 -->
	<sql id="search">
		<if test="field != null and field != ''">
			 where manager_check=1 and ${field} like '%${keyword}%'
		</if>
		
		<if test="field == null or field == ''">
			where manager_check=1
		</if>
	</sql>
	
	<select id="hostselectpaging" resultType="house_info" parameterType="hashmap">
		select * from house_info 
		<include refid="search"/>
		order by hinum desc 
		limit #{startRow}, #{rowblockcount}
	</select>
	
	<select id="hostcnt" resultType="int" parameterType="hashmap">
		select ifnull(count(*),0) from house_info
		<include refid="search"/>
	</select>
	
	<select id="hostone" parameterType="int" resultType="house_info">
		select * from house_info where hinum=#{hinum} and manager_check=1
	</select>
	
	<select id="houseimg" parameterType="hashmap" resultType="String">
		select img from house_img 
		<if test="ordernum == 1">
			where hinum=#{hinum} and ordernum=1;
		</if>
		<if test="ordernum != 1">
			where hinum=#{hunum}
		</if>		
	</select>
	
	<select id="applyselect" parameterType="int" resultType="com.jhta.airqnq.vo.Apply_infoVo">
	 	select hinum,h.menum,id,title,content,h.addr,addr_detail,price,max_n,bedroom,checkin_time,startdate,enddate from house_info h,member m where hinum=#{hinum} and h.menum=m.menum
	</select>
	
	<!-- house main img 포함 vo -->
	<select id="mainHouseGetList" parameterType="house_search" resultType="main_houseinfo">
		SELECT h.hinum, h.addr, h.max_n, h.addr_detail, h.price, h.lat, h.lnt, h.startdate, h.enddate, i.img, h.title
		FROM house_info h, house_img i 
		WHERE
			h.addr LIKE CONCAT('%', #{addr}, '%')
			<![CDATA[
				AND h.max_n>=#{max_n}
				AND h.`div`=#{div}
				AND h.startdate>=#{startdate}
				AND h.enddate>=#{enddate}
			]]>
				AND h.del_yn=#{del_yn}
				AND h.manager_check=#{manager_check}
				AND i.ordernum =1
				AND h.hinum = i.hinum
			LIMIT #{startRow}, #{endRow}
	</select>
	
	<!-- house 검색된 글 개수 구하기 -->
	<select id="houseSearchCount" parameterType="house_search" resultType="int">
		select count(*) from(
		SELECT h.hinum, i.img, h.title
				FROM house_info h, house_img i 	
				WHERE
					h.addr LIKE CONCAT('%', #{addr}, '%')
					<![CDATA[
						AND h.max_n>=#{max_n}
						AND h.`div`=#{div}
						AND h.startdate>=#{startdate}
						AND h.enddate>=#{enddate}
					]]>
						AND h.del_yn=#{del_yn}
						AND h.manager_check=#{manager_check}
						AND i.ordernum =1
						AND h.hinum = i.hinum
		)ss
	</select>
		
	<!-- house 검색 이미지 가져오기 -->
	<select id="houseGetImg" parameterType="int" resultType="string">
		select img from house_img where hinum=#{hinum} and ordernum=1
	</select>
</mapper>