<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.airqnq.mapper.HostInfoMapper">	
	<insert id="hostInsert" parameterType="house_info">
		insert into house_info values(0, #{menum}, #{title},
		 #{content}, #{addr}, #{addr_detail}, #{price}, #{max_n}, #{bedroom}, #{checkin_time}, #{div}, #{lat}, #{lnt}, #{startdate}, #{enddate}, "n", 0)
	</insert>
	
	<insert id="hostImgInsert" parameterType="house_img">
		insert into house_img  values(0, #{hinum}, #{img}, #{del_yn}, #{ordernum})
	</insert>
	
	<select id="hostselect" resultType="house_info">
		select * from house_info
	</select>
	
	<select id="hostNumSelect" parameterType="int" resultType="int">
		SELECT hinum FROM house_info where menum=#{menum} order by hinum desc LIMIT 1
	</select>
	
	<!-- 편의기능 추가하기 -->
	<insert id="convenInsert" parameterType="int">
		insert into conven values(0, #{hinum}, 'n')
	</insert>
	
	<insert id="convenDetailInsert" parameterType="convenVo">
		insert into convendetail values(0, #{conum}, #{pool}, #{paking}, #{wifi}, #{washer}, #{kitchen}, #{etc}, 'n')
	</insert>
	
	<select id="convenSelect" parameterType="int" resultType="int">
		select conum from conven where hinum=#{hinum} order by conum desc limit 1;
	</select>
	
	<!-- 승진 -->
	<!-- house_info 검색 sql -->
	<sql id="search">
		<if test="field != null and field != ''">
			 where manager_check=1 and ${field} like '%${keyword}%' and title is not null
		</if>
		
		<if test="field == null or field == ''">
			where manager_check=1 and title is not null
		</if>
	</sql>
	
	<!-- house_info 페이징 처리 -->
	<select id="hostselectpaging" resultType="house_info" parameterType="hashmap">
		select * from house_info 
		<include refid="search"/>
		order by hinum desc 
		limit #{startRow}, #{rowblockcount}
	</select>
	
	<!-- 선택된 house_info 총 갯수 (페이징 처리 포함) -->
	<select id="hostcnt" resultType="int" parameterType="hashmap">
		select ifnull(count(*),0) from house_info
		<include refid="search"/>
	</select>
	
	<!-- 선택된 house_info data --> 
	<select id="hostone" parameterType="int" resultType="house_info">
		select * from house_info where hinum=#{hinum} and manager_check=1 
	</select>
	
	<!-- house_info 이미지 뽑기 -->
	<select id="houseimg" parameterType="hashmap" resultType="String">
		select img from house_img 
		<if test="ordernum == 1">
			where hinum=#{hinum} and ordernum=1;
		</if>
		<if test="ordernum != 1">
			where hinum=#{hunum}
		</if>		
	</select>
	
	<!-- 상세 신청 데이터 뽑기 -->
	<select id="applyselect" parameterType="int" resultType="com.jhta.airqnq.vo.Apply_infoVo">
	 	select hinum,h.menum,id,title,content,h.addr,addr_detail,price,max_n,bedroom,checkin_time,lat,lnt,startdate,enddate from house_info h,member m where hinum=#{hinum} and h.menum=m.menum
	</select>
	
	<!-- 승인된 house_info 뽑기 -->
	<select id="okhouseinfo" resultType="house_info">
		select * from house_info where manager_check=1 and title is not null
	</select>
	
	<!-- house main img 포함 vo -->
	<select id="mainHouseGetList" parameterType="house_search" resultType="main_houseinfo">
		SELECT h.hinum, h.addr, h.max_n, h.addr_detail, h.price, h.lat, h.lnt, h.startdate, h.enddate, i.img, h.title
		FROM house_info h, house_img i 
		WHERE
			h.addr LIKE CONCAT('%', #{addr}, '%')
			<![CDATA[
				AND h.max_n>=#{max_n}
				AND h.`div`=#{div}
				AND h.startdate<=#{startdate}
				AND h.enddate>=#{enddate}
				AND #{startdate}!=#{enddate}
			]]>
				AND h.del_yn=#{del_yn}
				AND h.manager_check=#{manager_check}
				AND i.ordernum =1
				AND h.hinum = i.hinum
			LIMIT #{startRow}, #{endRow} 
	</select>
	
	<!-- house 검색된 글 개수 구하기 -->
	<select id="houseSearchCount" parameterType="house_search" resultType="int">
		select count(*) from(
		SELECT h.hinum, i.img, h.title
				FROM house_info h, house_img i 	
				WHERE
					h.addr LIKE CONCAT('%', #{addr}, '%')
					<![CDATA[
						AND h.max_n>=#{max_n}
						AND h.`div`=#{div}
						AND h.startdate<=#{startdate}
						AND h.enddate>=#{enddate}
						AND #{startdate}!=#{enddate}
					]]>
						AND h.del_yn=#{del_yn}
						AND h.manager_check=#{manager_check}
						AND i.ordernum =1
						AND h.hinum = i.hinum
		)ss
	</select>
		
	<!-- house 검색 이미지 가져오기 -->
	<select id="houseGetImg" parameterType="int" resultType="string">
		select img from house_img where hinum=#{hinum} and ordernum=1
	</select>
	
	
	<!-- 영노 -->
	<sql id="ep_search">
		<if test="field != null and field != ''">
			 and ${field} like '%${keyword}%'
		</if>
	</sql>
	
	<select id="experiencecnt" resultType="int" parameterType="hashmap">
		select count(*) from experience_info where (div_type=3 or div_type=4)
		<include refid="ep_search"/>
	</select>
	
	
	<select id="host_experienceInfo" resultType="com.jhta.airqnq.vo.EP_ManagementVo" parameterType="hashmap">
		select * from experience_info where (div_type=3 or div_type=4) 
		<include refid="ep_search"/>
		limit #{startRow}, #{rowblockcount}
	</select>
	
	<select id="epappinfo" parameterType="int"  resultType="com.jhta.airqnq.vo.EP_ManagementVo">
		SELECT e.memnum , e.div_type ,e.title, e.hinum ,s.subname ,e.loc , e.intr , e.program , e.price, e.times , e.mater
		FROM experience_info e INNER JOIN subDetail s ON e.sunum = s.sunum and (e.div_type=3  or e.div_type=4 ) and hinum=#{hinum};
	</select>
	<select id="epappImg" parameterType="int"  resultType="com.jhta.airqnq.vo.EP_ManagementVo">
		select hinum, img , ordernum from house_img where hinum=#{hinum}
	</select>
	
	<!-- 영노 -->
</mapper>