<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.airqnq.mapper.HostInfoMapper">	
	<insert id="hostInsert" parameterType="house_info">
		insert into house_info values(0, #{menum}, #{title},
		 #{content}, #{addr}, #{addr_detail}, #{price}, #{max_n}, #{bedroom}, #{checkin_time}, #{div}, #{lat}, #{lnt}, #{startdate}, #{enddate}, "n", 0)
	</insert>
	
	<insert id="hostImgInsert" parameterType="house_img">
		insert into house_img  values(0, #{hinum}, #{img}, #{del_yn}, #{ordernum})
	</insert>
	
	<select id="hostselect" resultType="house_info">
		select * from house_info
	</select>
	
	<select id="hostNumSelect" parameterType="int" resultType="int">
		SELECT hinum FROM house_info where menum=#{menum} order by hinum desc LIMIT 1
	</select>
	
	<!-- 승진 -->
	<sql id="search">
		<if test="field != null and field != ''">
			 where manager_check=1 and ${field} like '%${keyword}%'
		</if>
		
		<if test="field == null or field == ''">
			where manager_check=1
		</if>
	</sql>
	
	<select id="hostselectpaging" resultType="house_info" parameterType="hashmap">
		select * from house_info 
		<include refid="search"/>
		order by hinum desc 
		limit #{startRow}, #{rowblockcount}
	</select>
	
	<select id="hostcnt" resultType="int" parameterType="hashmap">
		select ifnull(count(*),0) from house_info
		<include refid="search"/>
	</select>
	
	<select id="hostone" parameterType="int" resultType="house_info">
		select * from house_info where hinum=#{hinum} and manager_check=1
	</select>
	
	<select id="houseimg" parameterType="hashmap" resultType="String">
		select img from house_img 
		<if test="ordernum == 1">
			where hinum=#{hinum} and ordernum=1;
		</if>
		<if test="ordernum != 1">
			where hinum=#{hunum}
		</if>		
	</select>
	
</mapper>