<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.HostMapper">
	<select id="list" parameterType="int" resultType="expInfo">
		select *
		from experience_info
		where memnum = #{menum}
		and del_yn = 'N'
	</select>
	<select id="getEpOnlineInfo" parameterType="int" resultType="expInfo">
		select * from experience_info where einum = #{einum}
	</select>
	<update id="modify" parameterType="expInfo">
		update experience_info 
		set loc = #{loc}, intr = #{intr}, program = #{program}, title = #{title}, price = #{price}, times = #{times}, people = #{people}  
		where einum = #{einum} 
	</update>
	<delete id="delEpOnline" parameterType="int">
		update house_info set del_yn = 'y' where hinum = #{hinum}
	</delete>
	<delete id="delReview" parameterType="int">
		update review set del_yn = 'y' where hinum = #{hinum}
	</delete>
	<delete id="delConven" parameterType="int">
		update conven set del_yn = 'y' where hinum = #{hinum}
	</delete>
	<delete id="delBasket" parameterType="int">
		update basket set del_yn = 'y' where hinum = #{hinum}
	</delete>
	<delete id="delHouseImg" parameterType="int">
		update house_img set del_yn = 'y' where hinum = #{hinum}
	</delete>
	<delete id="delExpInfo" parameterType="int">
		update experience_info set del_yn = 'y' where hinum = #{hinum}
	</delete>
	<select id="houseList" parameterType="int" resultType="house_info">
		select * from house_info where menum = #{menum} and `div` = 1 and del_yn = 'n' and title is not null
	</select>
</mapper>