<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- 승진 -->
 <mapper namespace="com.jhta.airqnq.mapper.MemberMapper">	
	<sql id="search">
		<if test="keyword != null and keyword != ''">
			where ${field} like '%${keyword}%'
		</if>
	</sql>
	
	<select id="memberone" resultType="join" parameterType="int">
		select * from member where menum=#{menum}
	</select>

	<select id="listMember" resultType="join" parameterType="hashmap">
		select * from member 
		<include refid="search"/>
		order by menum desc
		limit #{startRow}, #{rowblockcount}
	</select>
	
	<select id="membercnt" resultType="int" parameterType="hashmap">
		select ifnull(count(*),0) from member
		<include refid="search"/>
	</select>
	
	<update id="memberimgreset" parameterType="int">
		update member set profile_img = null where menum=#{menum}
	</update>
	
</mapper>