<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.airqnq.mapper.OnlineListMapper">
	<select id="OnlineAlllList" resultType="com.jhta.airqnq.vo.EP_ManagementVo" parameterType="int">
		select y.* from (
select a.img , a.hinum , a.title , a.price , a.times , subname from (
select img,e.hinum,title,price,times ,sunum from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1 )a inner join subDetail s on a.sunum=s.sunum limit #{row} ,15) y order by rand();
	</select>	
	<select id="OnlineAllListC" resultType="int">
		select count(*) from (
select a.img , a.hinum , a.title , a.price , a.times , subname from (
select img,e.hinum,title,price,times ,sunum from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1 )a inner join subDetail s on a.sunum=s.sunum) s;
	</select>
	
	

	<select id="OnlineCookList" resultType="com.jhta.airqnq.vo.EP_ManagementVo" parameterType="int">
		select a.img , a.hinum , a.title , a.price , a.times , subname from (
select img,e.hinum,title,price,times ,sunum from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1 and (sunum=163 or sunum=166 or sunum=164 or sunum=165 or sunum=136 or sunum=135 or sunum=134))a inner join subDetail s on a.sunum=s.sunum limit #{row}, 5;
	</select>
	<select id="onlineCookListC" resultType="int">
	select count(*) from(
		select a.img , a.hinum , a.title , a.price , a.times , subname from (
select img,e.hinum,title,price,times ,sunum from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1 and (sunum=163 or sunum=166 or sunum=164 or sunum=165 or sunum=136 or sunum=135 or sunum=134))a inner join subDetail s on a.sunum=s.sunum) s;
	</select>
	

	<select id="OnlineSportList" resultType="com.jhta.airqnq.vo.EP_ManagementVo">
		select a.img , a.hinum , a.title , a.price , a.times , subname from (
select img,e.hinum,title,price,times ,sunum from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1 and (<![CDATA[(sunum<75 and sunum>46) or(sunum>89 and sunum<127)]]>))a inner join subDetail s on a.sunum=s.sunum limit #{row}, 5;
	</select>
	<select id="OnlineSportListC" resultType="int">
		select count(*) from (
select a.img , a.hinum , a.title , a.price , a.times , subname from (
select img,e.hinum,title,price,times ,sunum from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1 and (<![CDATA[(sunum<75 and sunum>46) or(sunum>89 and sunum<127)]]>))a inner join subDetail s on a.sunum=s.sunum) s;
	</select>
	
	
	
	
	<select id="OnlineRegdateList" parameterType="int" resultType="com.jhta.airqnq.vo.EP_ManagementVo">
		select a.img , a.hinum , a.title , a.price , a.times , subname  from (
select img,e.hinum,title,price,times ,sunum ,regdate from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1)a inner join subDetail s on a.sunum=s.sunum order by a.regdate desc limit #{row}, 5;
	</select>
	<select id="OnlineRegdateListC" resultType="int">
		select count(c.hinum) from (
select a.img , a.hinum , a.title , a.price , a.times , subname   from (
select img,e.hinum,title,price,times ,sunum ,regdate from experience_info e inner join house_img h 
on e.hinum=h.hinum where e.div_type=3 and ordernum=1)a inner join subDetail s on a.sunum=s.sunum order by a.regdate desc) c;
	</select>
</mapper>