<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.airqnq.mapper.RentMapper">
	<select id="list" parameterType="int" resultType="rentList">
		select rtnum,hinum,startrent,endrent,status,person,pay_price
			,(select title from house_info where hinum = a.hinum) title
			,(select case when count(*) = 0 then 'n' else 'y' end as rag_yn from review where rtnum = a.rtnum) rag_yn
		from rent a
		where menum = #{menum}
		and status = 1
	</select>
	<update id="delGrade" parameterType="map">
		update grade
		set del_yn = 'y'
		where renum in(select renum
						from review
		                where rtnum = #{rtnum}
		                and menum = #{menum}
		                and del_yn = 'n')
	</update>
	<update id="delReview" parameterType="map">
		update review
		set del_yn = 'y'
		where rtnum = #{rtnum}
		and menum = #{menum}
		and del_yn = 'n'
	</update>
	<update id="delRent">
		update rent
		set del_yn = 'y'
			, status = 2
		where rtnum = #{rtnum}
		and del_yn = 'n'
	</update>
	<select id="applyExpList" parameterType="int" resultType="rentList">
		select rtnum,hinum,startrent,status,pay_price
			,(select title from experience_info where hinum = a.hinum) title
			,(select case when count(*) = 0 then 'n' else 'y' end as rag_yn from review where rtnum = a.rtnum) rag_yn
		from rent a
		where menum = #{menum}
		and status in(2, 3)
	</select>
	
	<!-- 승진 -->
	<!-- 신청한 정보 db에 넣기 -->
	<insert id="rentinsert" parameterType="rentVo">
		insert into rent values(0,#{hinum},#{menum},#{startrent},#{endrent},#{status},#{person},#{pay_price},'n',#{imp_uid},#{merchant_uid},1)
	</insert>
	
	<!-- rtnum에 모든 데이터 가져오기 -->
	<select id="rentselect" parameterType="int" resultType="rentVo">
		select * from rent where rtnum=#{rtnum}	
	</select>
	
	<!-- 취소 안된 예약자 데이터 뽑기 -->
	<select id="rentdata" resultType="rentVo">
		select * from rent where status=1
	</select>
	
	<!-- 하우스 번호로 예약자 데이터 뽑기 -->	
	<select id="hinumrentselect" parameterType="int" resultType="rentVo">	
		select * from rent where hinum=#{hinum}	
	</select>
</mapper>