<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.airqnq.mapper.ReviewAndGradeMapper">
	<insert id="reviewSave" parameterType="map">
		insert into review
		values(0, #{menum}, #{rtnum}, #{hinum},
			(#{cleanGrade} + #{accuracyGrade} + #{commuGrade} + #{positionGrade} + #{checkinGrade} +
			#{satisGrade}) / 6,
			2, #{content}, 'n')
	</insert>
	<insert id="gradeSave" parameterType="map">
		insert into grade values(0, LAST_INSERT_ID(), #{cleanGrade}, #{accuracyGrade}, #{commuGrade}, #{positionGrade}, #{checkinGrade}, #{satisGrade}, 'n')
	</insert>
	<select id="selReviewAndGrade" parameterType="map" resultType="int">
		select nvl(max(renum),-1) from review where menum = #{menum} and rtnum = #{rtnum} and hinum = #{hinum} and del_yn = 'n'
	</select>
	<update id="updReview" parameterType="map">
		update review set score = (#{cleanGrade} + #{accuracyGrade} + #{commuGrade} + #{positionGrade} + #{checkinGrade} +
			#{satisGrade}) / 6, content = #{content}
		where renum = #{renum}
	</update>
	<update id="updGrade">
		update grade set clean = #{cleanGrade}, accuracy = #{accuracyGrade}, commu = #{commuGrade}, position = #{positionGrade},
		checkin = #{checkinGrade}, satis = #{satisGrade}
		where renum = #{renum}
	</update>
	<select id="selReviewGrade" parameterType="map" resultType="gradeOne">
		select 'cleanGrade' gradeName
				, b.clean grade
				, '' content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
		union all
		select 'accuracyGrade' gradeName
				, b.accuracy grade
				, '' content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
		union all
		select 'commuGrade' gradeName
				, b.commu grade
				, '' content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
		union all
		select 'positionGrade' gradeName
				, b.position grade
				, '' content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
		union all
		select 'checkinGrade' gradeName
				, b.checkin grade
				, '' content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
		union all
		select 'satisGrade' gradeName
				, b.satis grade
				, '' content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
		union all
		select 'content' gradeName
				, -1 grade
				, a.content content
		from review a inner join grade b
				on a.renum = b.renum
				where a.del_yn = 'n'
				and b.del_yn = 'n'
				and a.rtnum = #{rtnum}
				and a.hinum = #{hinum}
	</select>
</mapper>