@charset "UTF-8";
/*영노*/
.container, .container-fluid, .container-lg, .container-md,
	.container-sm, .container-xl {
	margin: 0px;
}

.ui-widget-header {
	background: white;
	border: 0px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	color: black;
}

.ui-state-active, .ui-widget-content 
	.ui-state-active, .ui-widget-header 
	.ui-state-active {
	border: 0px;
}

.ui-widget {
	font-family: jua;
}

.ui-widget-content {
	border: 0px;
	background: white;
}

.ui-tabs .ui-tabs-panel {
	background: white;
}

#tabs {
	width: 90%;
	margin: auto;
}
/* 모달css */
#epappModal{
	height: 900px;
}
#epappModal .modal-dialog {
    max-width:1000px;
    margin: 1.75rem auto;
}
#epappModalBody img{
	width: 30%;
	height:300px;
	margin-left: 20px;
	margin-top: 20px;
}
.epappinfo {
	display: inline-block;
}
#epappModalBody h5{
	display: inline;
}
#epappModal h4{
	margin: auto;
}
#epappmainimg img{
	margin: 80px;
	width: 80%;
	height: auto;
}
#epappModal .modal-body{ 
	 overflow: scroll;}
.form-control{
	width: 80%;
	margin: auto;
}

#reasonModal .modal-dialog {
    max-width:700px;
    margin: 1.75rem auto;
}
#reasonModal .col-form-label{
	margin-left: 70px;
}

#reasonModal .modal-footer>* {
    margin: .50rem;
    width: 20%;
}
/*------------------------------------------------------------------------------------ */
