@charset "UTF-8";
.ep_mangement a{
	 width:100%;
	 height: 60px;
}
.ep_mangement a div{
	margin: auto;
}
.ep_mangement_list{
	margin-top: 50px;
	background-color: white;
	border: 2px solid black;
	border-top-left-radius : 20px;
	border-top-right-radius : 20px;
	border-bottom : solid white;
	color: black;
}
.ep_mangement_list_btn{
	background-color: white;
	border: 2px solid black;
	border-bottom-left-radius : 20px;
	border-bottom-right-radius : 20px;
	color: black;
	padding: 10px;
}
.ep_mangement_list_btn input{
	width: 7%;
	margin-left: 10px;
}
.ep_mangement_list_img{
	width: 90%;
	height: 90%;
	background-color:gray;
	margin: auto;
	margin-top: 7px;
}