@charset "UTF-8";

.experience_page{
	width: 100%;
	height: auto;
	
	margin-top: 100px;
}
.experience_page div h6{
	width:7%;
	height:auto;
	margin: auto;
	color: black;
}

.experience_page div h1{
	width:26%;
	height:auto;
	margin: auto;
	margin-top: 100px;
	color: black;
}

.experience_page #h41{
	width:34%;
	height:auto;
	margin: auto;
	color: black;
	margin-top: 50px;
}
.experience_page #h42{
	width:31%;
	height:auto;
	margin: auto;
	color: black;
}

.experience_page #ep_btn{
	width:10%;
	height:auto;
	margin: auto;
	background-color: yellow;
	margin-top: 100px;
}
.experience_page a{
	width:100%;
	height:auto;
	margin: auto;
	
}
.ep_img{
	width:80%;
	height:800px;
	margin: auto;
	margin-top: 30px;
}
.ep_img img{
	width:100%;
	height:100%;
}








.ep_type{
	width: 100%;
	height: 100%;
	
}
.ep_type #ep_type_div{
	width: 35%;
	height: 100%;
	margin: auto;
	color: black;
}

#ep_type_btn{
	width: 30%;
	height:50px;	
	margin: 200px;
	float: right;
}

#ep_info_type1{
	margin-left: 80px;
}
#ep_type_btn div{
	margin: auto;
}

#ep_type_location{
	width: 30%;
	height:50px;	
	margin: 200px;
	margin-top: 300px;
}
#ep_type_location div{
	margin: auto;
}

#ep_type_subdetail{
	width: 30%;
	height:50px;	
	margin: 200px;
	margin-top: 300px;
}
#ep_type_subdetail div{
	margin: auto;
}

#ep_type_title{
	width: 30%;
	height:50px;	
	margin: 200px;
	margin-top: 300px;
}
#ep_type_title div{
	margin: auto;
}

#ep_type_introduce{
	width: 30%;
	height:50px;	
	margin-left: 200px;
	margin-top: 190px;
}
#ep_type_introduce div{
	margin: auto;
}

#ep_type_program{
	width: 30%;
	height:50px;	
	margin-left: 200px;
	margin-top: 190px;
}
#ep_type_program div{
	margin: auto;
}

#ep_type_mater{
	width: 30%;
	height:50px;	
	margin-left: 200px;
	margin-top: 180px;
}
#ep_type_materials div{
	margin: auto;
}

.ep_sub_div{
	margin: auto;
}

.ep_botton{
	position: absolute;
	top: 693px;
	left: 978px; 
	width:171px;
	height:50px;	
}




#ep_type_price{
	width: 30%;
	height:50px;	
	margin-left: 200px;
	margin-top: 100px;
}
#ep_type_price div{
	margin: auto;
}

.ep_icon{
	float: right;
}

.ep_mater_icon{
	float: right;
}
