@charset "UTF-8";

/*  영노 */
.ep_searchdropdown-menu h5,p{
	margin-left: 20px;
}
.ep_searchdropdown-menu-menu{
	width: 100%;
	color: black;
}
.ep_searchdropdown-menu div{
	float: right;
}
.ep_searchdropdown-menu .countspan{
	margin-right: 20px;
}

.ep_searchdropdown-menu .homeinput{
	margin-right: 20px;
}

.ep_searchdropdown-menu .btn{
	border-radius: 150px;
	border: 1px solid #e74a3b;
}