video {
	width: 100%;
	position: relative;
	height: 500px;
}

.videoContainer {
	height: 90vh;
}

.videoContainer div {
	width: 40%;
	display: inline-block;
}

.close {
	margin-top: 20px;
	color: red;
	position: absolute;
	font-size: 50px;
	margin-top: 20px;
	cursor: pointer;
	z-index: 99;
}

