@charset "UTF-8";
#host_ep_font{
	margin: auto;
}
.host_ep_btn{
	width: 75px;
	float: right;
}
#host_ep_select{
	width: 10%;
	float: right;
	margin-right: 10px;
}
.host_ep_text{
	float: right;
	width: 15%;
}
#ep_pagediv{
	width: 150px;
	height: auto;
	float:right;
	margin: auto;
	
}
#ep_pageBtnR{
	float: left;
}
#ep_pageBtnL{
	float: left;
}
#ep_pageNum{
	width: auto;

	margin: auto;
}
#ep_pageNum a{
	float: left;
}


.hovertr:hover {
	background-color: #cfd1d6 !important;
}