label {
	width: 225px;
	text-align: left;
}

/* 최상의 div 위로 올리기 */
#divmain {
	margin-top: 20px;
}
/* 글자 가운데 */
#fontcenter {
	text-align: center;
}
/* 검색 */
#selectdiv {
	float: right;
	margin-bottom: 10px;
}

#selectoption {
	width: 120px;
	display: inline-block;
}

#selecttext {
	width: 200px;
	display: inline-block;
}

/* 이전, 다음 버튼 */
#previous, #next {
	border: none;
	outline: none;
	background: none;
	text-align: center;
}

/* 페이징 숫자 정렬 */
#pagingborder {
	display: inline-block;
}

#fontred {
	color: red;
}

.hovertr:hover {
	background-color: #cfd1d6 !important;
}

/* 버튼 css 설정 */
.exitbutton {
	border: none;
	outline: none;
	background: none;
}

/* 상세정보 정렬 */
#modalscroll input {
	width: 230px;
}

/* 스크롤 */
#modalscroll {
	overflow: auto;
	width: 700px;
	height: 900px;
}

#contentscroll {
	overflow: auto;
	width: 465px;
	height: 300px;
	color: black;
}

.modal-body img{
	width: 450px;
    height: 400px;
    border-radius: 30px;
}