<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases>
 	<typeAlias type="com.jhta.airqnq.vo.JoinVo" alias="join"/>
 	<typeAlias type="com.jhta.airqnq.vo.HouseInfoVo" alias="house_info"/>
 	<typeAlias type="com.jhta.airqnq.vo.SliderVo" alias="slinfo"/>
 	<typeAlias type="com.jhta.airqnq.vo.ChatLogVo" alias="chatLog"/>
 	<typeAlias type="com.jhta.airqnq.vo.MemberVo" alias="member"/>
 	<typeAlias type="com.jhta.airqnq.vo.ExpInfoVo" alias="expInfo"/>
 	<typeAlias type="com.jhta.airqnq.vo.HouseImgVo" alias="house_img"/>
 	<typeAlias type="com.jhta.airqnq.vo.AdminInfoVo" alias="adminInfo"/>
 	<typeAlias type="com.jhta.airqnq.vo.RentListVo" alias="rentList"/>
 	<typeAlias type="com.jhta.airqnq.vo.ReviewAndGradeVo" alias="reviewAndGrade"/>
 	<typeAlias type="com.jhta.airqnq.vo.GradeOneVo" alias="gradeOne"/>
 	<typeAlias type="com.jhta.airqnq.vo.ReportTypeVo" alias="reportType"/>
 	<typeAlias type="com.jhta.airqnq.vo.RentVo" alias="rentVo"/>
 	<typeAlias type="com.jhta.airqnq.vo.MainHouseInfoVo" alias="main_houseinfo"/>
 </typeAliases>
 <mappers>
    <mapper resource="com/jhta/mybatis/mapper/JoinMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/LoginMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/experienceMapper.xml"/>
  	<mapper resource="com/jhta/mybatis/mapper/EP_ManagementMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/HostMapper.xml"/>
   <mapper resource="com/jhta/mybatis/mapper/HostInfoMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/MemberMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/epOnlineMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/RentMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/ReviewAndGradeMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/OnlineListMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/ReportMapper.xml"/>
     <mapper resource="com/jhta/mybatis/mapper/HostResCheckMapper.xml"/>
  </mappers>
</configuration>