<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases>
 	<typeAlias type="com.jhta.airqnq.vo.JoinVo" alias="join"/>
 	<typeAlias type="com.jhta.airqnq.vo.HouseInfoVo" alias="house_info"/>
 </typeAliases>
 <mappers>
    <mapper resource="com/jhta/mybatis/mapper/JoinMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/LoginMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/experienceMapper.xml"/>
    <mapper resource="com/jhta/mybatis/mapper/hostMapper.xml"/>
  </mappers>
</configuration>